@-moz-document url-prefix("https://giphy.com") {
/*Author:Senethril
Date:21-03-21
Name:DarkChromePastelFluoWebTheme-trick-for-aim-stylish-editor-maybe-or-any-other-editors
Url:https://github.com/acccounttest/DarkChromePastelFluoWebTheme-trick-for-aim-stylish-editor-maybe-or-any-other-editors/blob/main/zzz.css#&amp;THINK TO GO CLICK ON ...
Aim:Install more extensions
*/
/*trick for aim stylish editor maybe or any other editors
@-moz-document regexp("^data:text/html;.*div%20id='editor'.*")*/
/*url-prefix("about:stylish-edit"), 
@-moz-document url(chrome://browser/content/scratchpad.xul), url(chrome://stylish/content/edit.xul)*/

/*
dom inspector ??
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://inspector/content/viewers/dom/dom.xul)
*/

/*regexp('^chrome://(?!browser/content/devtools/).*'),*/
 /*regexp('^chrome://(?!browser/content/devtools/).*'),*/
 /*,*/

/*
@-moz-document url("about:blank"),url-prefix(http://),url-prefix(https://),regexp('^(chrome|http|https)://(?!browser/content/devtools/).*')
*/
/*
for IE  below*/
/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
 */  

/*@media screen and (-webkit-min-device-pixel-ratio:0)*/
/* ^(?!https?://(www\.)?(discordapp\.com|example\.com).*).*$ */

/*regexp("https?:\\/\\/(?!(www\\.youtube\\.com|forum\\.userstyles\\.com|lycos\\.com|aol\\.com|roblox\\.com)).*")*/
/*@-moz-document regexp('https://userstyles\.org/.*')*/
/*does firefix need double bacslah normally its 1 for js 2 for css, 1 for chorme only then?*/

@namespace url(http://www.w3.org/1999/xhtml);   
@media screen and (-webkit-min-device-pixel-ratio:0)
{
/*regexp("^data:text/html;.*<code>.*</code>.*")*/
/*url-prefix('!chrome://browser/content/devtools/')*/
/*url-prefix(),*/

/*  
div.fsScrollDiv{
color:grey !important;
background-color: grey !important;
background-image:grey !important;
background:grey !important;
}*/

/*
div.fsScrollDiv + *
{
color:inherit !important;
background-color: inherit !important;
background-image:inherit !important;
background:inherit !important;
}*/


h1,h2,h3,li
{
background-color:rgba(0, 0, 0, 0.20) !important;
/*position:relative!important;*/
padding:0;
/*background-image:herit !important;*/
}

/*fix cannot exclude links or href after the div  :not([href]):() */

    
    /*below iframe was for youtube, works well but its not frame directly but this one occup much more space than just vid + anything bordelic below , so hide it hidde really div with classes below that are really the vid to avoid the background */
/*
iframe{
  display: block;
  position:relative;
  visibility: hidden;
  box-sizing: content-box;
  width:426px;
  height:708px;
    color:red !important;
}*/

iframe{
  z-index:9999 !important;
  overflow:auto;
  resize:both;
  /*min-height: 30px;
  min-width: 30px;
  max-height: fit-content;
  max-width: fit-content*/
}
    
    
div[class*="ytp-player-content"],div[class*="c-breadcrumb"],div * img,div * source{
  background-color:unset !important;
  background:unset !important;
  /*width:auto;
  height: auto;*/
  color:inherit !important;
  /*z-index:999999
 ; /*visibility: visible;*/
  /*background-image:inherit !important;*/
  /*visibility:visible !important;*/
}



/*
iframe,iframe *,div[id*="video"],div[id*="video"] *
*/
/*
  visibility:visible !important;
  background-color:none !important;
  background:none !important;*/
  /*background-color:transparent !important;
*/


video, video *,figure, figcaption{
  visibility:visible !important;
  background-color:unset !important;
  background:unset !important;
  /*z-index:99999 !important;*/
  /*background-image: unset !important;*/
  position:inherit !important;
}

/*visibility: transparent !important;
  overflow:transparent !important;*/


div[class*="video"],div[class*="Video"],div[class*="player"],div[class*="Player"] ,video{
  /*color: inherit !important;*/
  background-color:unset !important;
  /*background-image: unset !important;*/
  visibility:visible !important;
  /*background:unset !important;*/
  /*z-index:99999 !important;never*/ 
  /*position:inherit !important;never for youtu too*/
  
  /*background:unset !important;*/
  /*z-index:99999 !important;*/
}
    


body,div:not(label > *){
color: #C4862E !important;
background-color: rgba(0,0, 12, 0.45) !important;
/*background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.35) 0%,rgba(0,0,0,0.55) 100%) !important;*/
padding:0;
  /*background-image: inherit !important;*/
}

    body >:not(*:not(*:not(h1):not(h2):not(h3):not(a):not(link):not(img):not(svg):not(button):hover)) , div >:not(*:not(*:not(h1):not(h2):not(h3):not(a):not(link):not(img):not(svg):not(button):hover)){
color: #C4862E !important;
background-color:  rgba(0, 6, 0, 0.45) !important;
/*background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,50) 0%,rgba(0,0,0,0.50) 100%) !important;*/
                                           
/* padding:0; */
  /*background-image: inherit !important;*/
}

/*box-shadow:
    0 40 120 0.5px hsl(0, 25%, 75%),
    0 40 120 1.0px hsl(0, 25%, 90%);
 padding: 2.5px;
 background-clip: content-box;*/


body:hover > * div:hover{
background-color: initial !important;
/*background: initial !important;*/
}
   
* body:not(:hover):not(link):not(img):not(svg):not(button){
           color: #C4862E !important;
/*background-color:  rgba(255, 255, 255, 0.35) !important;*/
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
}

    
html:not(div:hover):not(link):not(img):not(svg):not(button){
           color: #C4862E !important;
/*background-color:  rgba(255, 255, 255, 0.35) !important;*/
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
}
    
*:hover ~ *:not(*:hover) > *:not([class*="favicon"]):not(img):not(svg),*:hover ~ code{
background-color:inherit !important;
background: inherit !important;
}

    
    
    
    
    
    
    
    
img,source{
/*background: none !important;*/
background: none !important;
z-index:9999 !important;
}


/*div:not([href])*/
/*color:#ED9121 !important;*/

/*
* div{
display:block;
}*/


* div div td+div td+div td+div td+div td+div, #page
{
/*background-image: none !important;*/
/*background-color: rgba(0, 0, 0, 0.15) !important;*/
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
color: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
}

/* Exception for <pre> so that ASCII art is still nice 

* div pre {
  font-family: monospace !important;
  font-size: 1.1em !important;
  color: lightred !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
  background-image:inherit !important;
}
*/


tr{
  /*color:orange !important;*/
  background: -webkit-radial-gradient(center,circle closest-corner, rgba(0,16,0,1.0) 15%,rgba(0,0,16,0.8) 75%) !important;
}


td
{
font-size: 1.05em !important;
color: rgba(222,102,17) !important;
background: -webkit-radial-gradient(center,circle closest-corner, rgba(0,16,0,1.0) 15%,rgba(0,0,16,0.8) 75%) !important;
/*background: -webkit-radial-gradient(center,farthest-corner, rgba(54,43,27,1.0) 15%,rgba(30,67,64,0.8) 75%) !important;*/
}

div * polygon,svg
{
font-size: 1.2em !important;
color: #FFCC66 !important;
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
}

p
{
font-size: 1.2em !important;
/*font-size: 0.9rem;*/
letter-spacing: 0.8 px;
color: #FFCC66 !important;
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
}

/* li:not(a) > em *:not(a) > em,*:not(a) > li*/
li:not(a),label/*problÃ¨me avec un lien mais la forme change dans des balises et imbriquÃ©es*/
{
font-size: 1.2em !important;
color: #FFCC66 !important;
/*background-color: rgba(0, 0, 0, 0.15) !important;*/
    /*background-color: red !important;*/
}

label{
  background-color: inherit !important;
}

/*
span#__firefox-findbar-search-id
{ 
    background-color : #9ff !important;
}
*/
/* --- Style "highlight all" - Ctrl+F --- */



/*
pre f
{
color:#127878 !important;
}
*/



dt
{
color: #1C98C9 !important;
}

dd{
color: #1C98C9 !important;
}

/*
* label
{
text-decoration:blink !important;
}
*/

input:not([type=checkbox]),input:not([type=radio]),option {/*input:not(input[type=submit])*/
color:unset !important;
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.18) 0%,rgba(57,61,61,0.28) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.45) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.15) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
/*background-color:rgba(0, 0, 0, 0.20) !important;*/
border:solid 1px #00CC14 !important;
margin:1px !important;
font-size:1.1em  !important;
    /*width:80% !important;*/
}



select{
  background-color:inherit !important;
}
select,option{
/*border:orange 0.5 px !important;*/
/*border:solid 1px #00CC14 !important;*/
/*background:initial !important;*/
/*color:default !important;*/
}

form input
{
border:solid 1px #00CC14 !important;
/*text-decoration:none !important;*/
}

/*
input[type=radio] {
    width:auto !important;
    color:red !important;
  }*/

input[type=submit] {
    width:202px !important;
    text-align:center !important;
    /*background:inherit !important;
    background-color:inherit !important;*/
    /*color:#2EB88A !important;*/
    color:#1BD4CE !important;
    /*attr("value"):attr("value");*/
    border:solid 1px #1BD4CE !important;
  }



/*
span[style*=background]
{
background:none repeat scroll 0% 0% rgb(168, 236, 255) ! important;
}*/

/*
span[style*="rgba(0, 0, 0, 0.20)"]
{
font-family: monospace !important;
font-size: 1.1em !important;
color: #1C98C9 !important;
background-color: rgba(0, 0, 0, 0.15) !important;
}*/

/*
span[style*="rgb("],span[style*="rgba("]
{
background-color:#3e7350 !important;
font-size: 1.1em !important;
}*/


/*
*[style*=border]
{
border:solid 2px #00CC14 !important;
}*/

/*fix outline: */

th
{
color:#FFCC11 !important;
background: rgba(222,102,17,0.2) !important;
}

b
{
text-decoration:underline !important;
border:solid 1px #FFFF00 !important;/* and input and options and borders*/
}

strong
{
font-family: monospace !important;
/*font-size: 1.1em !important;*/
color: cyan !important;
background: -webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%) !important;
}

em{
  font-style:oblique !important;/*not italic but more*/
  color:lightblue !important;
}

cite{
color:lightblue !important;
}

:not(a) > h1
{color: red !important;}
:not(a) > h2
{color:#B40404 !important;}

/*for forget h3 links in google*/
:not(a) > h3{color:#FE2E2E !important;}
/*test too h3 in blockquote*/
/* h3{color:#FE2E2E !important;} */
:not(a) > h4
{color:#FE2E2E !important;}
:not(a) > h5
{color:#FA5858 !important;}
:not(a) > h6
{color:#F78181 !important;}



/*fix ^= into *= ???*/
/*will works with css4*/
/*
*[style^="color: rgb(0, 0, 0)"]
{
color:#00FF00 !important;
}
*/

/*
* font[color="rgba(0, 0, 0, 0.15)"]{
color:inherit !important;
background-color:inherit !important;
}
*/

div > span
{
font-size:1.1em !important;
color:unset !important;
/*color: #FFCC66 !important;*/
/*#00FF00*/
}

/*fix cannot exclude links or href after the star *  :not([href]):() */
/*color: inherit !important;
background-color: inherit !important;*/
/*
* span > *
{
font-size:1.0em !important;

}*/

span * span + span
{
font-size:1.0em !important;
/*color: inherit !important;*/
/*background-color:inherit !important;*/
}

* img,* img + div,* div * div + img + div {
/*or transparent*/
background-color:initial !important;
color:initial !important;
background-image:initial !important;
}
    

/*fix cannot exclude links or href after the star *  :not([href]):() */
pre
{
background-color:inherit !important;
background-image:inherit !important;
}
pre span * , code *,pre *,textarea{
background-color:#001E29 !important;        
}

textarea{
color:inherit !important;
}
/*
layer
{
color:inherit !important;
}
*/
    
/*or inherit*/
/*problem with span inside link prob for hide too but not link*/
/*currentColor*/
    
/*text-decoration: none !important;*/
/*content:" (" attr(href) ")" !important;*/
/*content:attr(href) !important;*/
/*content: attrib(style="color:#979;");*/
/*background-color:inherit !important;*/



a > span, a > span *, a span,*[data-url]{
text-decoration-color: currentColor !important;
text-decoration: wavy !important;
color:#85C247 !important;
/*background-color:unset !important;
background-image:unset !important;
background: unset !important;*/
}


a > span::before, a > span *::before, a span::before{
text-decoration-color: currentColor !important;
text-decoration-line:underline !important;
text-decoration-style:wavy !important;
background-color:unset !important;
background-image:unset !important;
background:unset !important;
}


/*
*[xmlns\:xhtml]
*[xmlns\\3Axlink],
*[xlink\\3Ahref]
*/
[xmlns\:xhtml]:not(html),[xmlns\:xlink]:not(html),[xlink\:href]:not(html),[xmlns]:not(html),[xlink]:not(html),[xlinkHref]:not(html)
{
text-decoration-color: currentColor !important;
text-decoration-line:underline !important;
text-decoration-style:dotted !important;
background-color:unset !important;
background-image:unset !important;
background:unset !important;
}

p * a,p > a,div > a{
color:#85C247 !important;
text-decoration-line:underline !important;
text-decoration-style:dashed !important;
text-decoration-color:#85C247 !important;
text-decoration-thickness: 0.3px !important;
/*fix with https://drafts.csswg.org/css-text-decor-4/#text-underline-position-property*/
}


:not(p) a,:not(p) > a *{
/*text-decoration-color: currentColor !important;*/
/*font-size: 1.0em !important;*/
text-decoration-color: #85C247 !important;
color:#85C247 !important;
/*background-color: none !important;*/
}

/*
,*[xmlns:xhtml]
,*[xlink:href]
*[xmlns:xlink]
*/

*[href],[xlink],[xmlns],[xlinkHref],[xmlns\:xhtml],[xmlns\:xlink],[xlink\:href]
{
/*font-size: 1.0em !important;*/
/*text-decoration-color: currentColor !important;*/
/*text-decoration-color: #85C247 !important;*/
color:#85C247 !important; 
}


/**[data-url]:visited*/

*[href]:visited,[xmlns]:visited,[xlink]:visited,[xlinkHref]:visited,[xmlns\:xhtml]:visited,[xmlns\:xlink]:visited,[xlink\:href]:visited,:not(p) a:visited,:not(p) > a:visited */*,*[href]:visited,*[xmlns:xlink]:visited,*[xmlns]:visited,*[xmlns:xhtml],*[xlink:href]:visited,*[xlinkHref]:visited*/
{
color:#CC3399 !important;
text-decoration-color: #CC3399 !important;
}


/*content: attrib(style="color:#979;");*/
/*image-background: none !important;*/
/*
xmlns:xlink=
xmlns=
xlink:href=
xlinkHref*/

/*
a[href$=".rss"] > span::before, a[href$=".rss"] > span *::before, a[href$=".rss"] span::before
*/
[class*="-rss"],
enclosure,
:not(p) a[href$=".rss"],:not(p) > a[href$=".rss"] *,a[href$=".rss"] > span, a[href$=".rss"] > span *, a[href$=".rss"] span,p * a[href$=".rss"],p > a[href$=".rss"],div > a[href$=".rss"],
:not(p) a[href*="/feed"],:not(p) > a[href*="/feed"] *,a[href*="/feed"] > span, a[href*="/feed"] > span *, a[href*="/feed"] span,p * a[href*="/feed"],p > a[href*="/feed"],div > a[href*="/feed"],
:not(p) a[href$=".xml"],:not(p) > a[href$=".xml"] *,a[href$=".xml"] > span, a[href$=".xml"] > span *, a[href$=".xml"] span,p * a[href$=".xml"],p > a[href$=".xml"],div > a[href$=".xml"],
object[type$="/xml"], object[type$="+xml"]{
  color:yellow !important;
  outline: yellow inset 1px;
  outline-offset: yellow outset 2px;
  outline-style: dotted;
}

/*
[class*="-rss"]:after,
enclosure:after,
:not(p) a[href$=".rss"]:after,:not(p) > a[href$=".rss"]:after *,a[href$=".rss"]:after > span, a[href$=".rss"]:after > span *, a[href$=".rss"]:after span,p * a[href$=".rss"]:after,p > a[href$=".rss"]:after,div > a[href$=".rss"]:after
:not(p) a[href*="/feed"]:after,:not(p) > a[href*="/feed"]:after *,a[href*="/feed"]:after > span, a[href*="/feed"]:after > span *, a[href*="/feed"]:after span, a[href*="/feed"]:after span,p * a[href*="/feed"]:after,p > a[href*="/feed"]:after,div > a[href*="/feed"]:after,
:not(p) a[href$=".xml"]:after,:not(p) > a[href$=".xml"]:after *,a[href$=".xml"]:after > span, a[href$=".xml"]:after > span *, a[href$=".xml"]:after span,p * a[href$=".xml"]:after,p > a[href$=".xml"]:after,div > a[href$=".xml"]:after,
object[type$="/xml"]:after, object[type$="+xml"]:after
*/
[class*="-rss"]:after,
enclosure:after,
:not(p) a[href$=".rss"]:after,:not(p) > a[href$=".rss"] *:after,a[href$=".rss"] > span:after, a[href$=".rss"] > span *:after, a[href$=".rss"] span:after,p * a[href$=".rss"]:after,p > a[href$=".rss"]:after,div > a[href$=".rss"],
:not(p) a[href*="/feed"]:after,:not(p) > a[href*="/feed"] *:after,a[href*="/feed"] > span:after, a[href*="/feed"] > span *:after, a[href*="/feed"] span:after,p * a[href*="/feed"]:after,p > a[href*="/feed"]:after,div > a[href*="/feed"]:after,
:not(p) a[href$=".xml"]:after,:not(p) > a[href$=".xml"] *:after,a[href$=".xml"] > span:after, a[href$=".xml"] > span *:after, a[href$=".xml"] span:after,p * a[href$=".xml"]:after,p > a[href$=".xml"]:after,div > a[href$=".xml"]:after,
object[type$="/xml"]:after, object[type$="+xml"]:after
{
content:'<' !important;
color:yellow !important;
z-index:9999999 !important;
}


/*
object[type^="text/"]
object[type="application/xml"]
*/


/* highlight links which would pop up a new window */
/*fix usage of rel*=external|nofollow */
/*"external nofollow"*/
/*class="external" ??? or *= ?*/
/*:not(a[href^='/']), */
/*:not(a[href^='./']),*/
/*:not(a[href^='../']),*/
/*:not([href^="#"]),*/
/*:not([href^="/"])*/
/*a[href*="//"]...*/
/*CANNOT juxtapose [rel*="external"][rel*="nofollow"] IT LL NOT WORKS WELL !!!!!!!!!!!!!!*/
/*:link[rel*="nofollow"]:after,:visited[rel*="nofollow"]:after,*/
:link[target="_blank"]:after,:visited[target="_blank"]:after,
:link[target="_new"]:after,:visited[target="_new"]:after,
:link[rel*="external"]:after,:visited[rel*="external"]:after,
:link[class*="external"]:after,:visited[class*="external"]:after

{
content:'>' !important;
color:#cc66cc !important;
}


/*Here are the internal link*/
/*
a[href^="mailto:"],
a[href^="javascript:"]

*/





code{
background-color:-webkit-radial-gradient(center, circle closest-corner, rgba(57,61,61,0.08) 0%,rgba(57,61,61,0.18) 8%,rgba(57,61,61,0.35) 70%,rgba(57,61,61,0.30) 72%,rgba(57,61,61,0.25) 76%,rgba(57,61,61,0.20) 80%,rgba(57,61,61,0.15) 85%,rgba(57,61,61,0.1) 90%,rgba(57,61,61,0.05) 95%,rgba(57,61,61,0) 100%)!important;
color:inherit !important;
/*text-decoration:strike !important;*/
}
    
code:hover{
background:rgba(52,32,37) !important;
}

button::before,paper-toggle-button::before{
color:inherit !important;}/*or unset*/
button,paper-toggle-button{
/*border:solid 0px goldenrod !important;*/
color:default !important;
background-color:default !important;
background:default !important;
border:solid 1px cyan !important;
padding:0.2px;
box-shadow:
  0.1em 0.25em cyan;
  /*1em 0em #F22613,
  2em 0em #F22613,
  4em 0em #F22613;
  5em 0em #F22613,

  0em 1em #F22613,
  1em 1em #F22613,
  2em 1em #F22613,
  3em 1em #F22613,
  4em 1em #F22613,
  5em 1em #F22613,
  6em 1em #F22613,

  0em 2em #F22613,
  1em 2em #F22613,
  2em 2em #F22613,
  3em 2em #F22613,
  4em 2em #F22613,
  5em 2em #F22613,
  6em 2em #F22613,

  1em 3em #F22613,
  2em 3em #F22613,
  3em 3em #F22613,
  4em 3em #F22613,
  5em 3em #F22613,

  2em 4em #F22613,
  3em 4em #F22613,
  4em 4em #F22613,

  3em 5em #F22613;*/
  /*

  .pixel-block {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 6em;
  height: 5em;
}
*/  
}
   
/*can have sublist colored differently*/
/*
    select,option,input[type=checkbox],input[type=radio]{
        background:transparent !important;
    }*/

input[type=checkbox],input[type=radio]{
background:transparent !important;
}
select:not(:hover) option:not(:disabled)
{
color:green !important;

}
 
    /*
select:hover option
{
color:blue !important;
}*/

option:checked{
color:yellow !important;
/*background-color:transparent !important;*/
}

option:not(:hover):checked{
color:hsl(120, 100%, 50%) !important;
/*background-color:transparent !important;*/
}

select:not(:hover){
color:#BE6969 !important;
}

input[type=checkbox]:not(:checked),input[type=checkbox]:checked,input[type=radio]:not(:checked),input[type=radio]:checked{ /* change "blue" browser chrome to yellow */
filter: invert(145%) hue-rotate(150deg) brightness(1.9) !important;
color: hsl(262, 63%, 18%) !important;
width: 10px !important;
height: 10px !important;
/*margin: 10px !important;*/
/*-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance:none;*/
/*outline: 0.5px solid yellow;*/
border-radius: 10px !important; -webkit-border-radius: 10px !important; -moz-border-radius: 10px !important;
outline-radius: 10px !important; -webkit-outline-radius: 10px !important; -moz-outline-radius: 10px !important; box-shadow: none;
font-size: 1.05em !important;
-ms-transform: scale(1.05); /* IE */
-moz-transform: scale(1.05); /* FF */
-webkit-transform: scale(1.05); /* Safari and Chrome */
-o-transform: scale(1.05); /* Opera */
padding: 7px;
zoom:1.05;
}
    /*✔*/
input[type=checkbox]:checked:after {content: '\2713';color: #2ebac4;position: absolute;line-height: 1rem;font-size:1.5rem;margin-left:-4px;margin-top:-8px;}
input[type=radio]:checked:after{content: '\2713';color: #2ebac4;position: absolute;line-height: 1rem;font-size:1.5rem;margin-left:-2px;margin-top:-6px;}
    
}
}