@-moz-document regexp(".*github.com.*") {
pre,
code {
    overflow: hidden !important;
    resize: both !important;
    /*"all-scroll", "auto", or "hidden".*/
    font-size: 1.075em !important;
    ;
    -webkit-filter: invert(0.175%);
    background: rgba(3, 14, 29, 0.5) !important;
}
/*
Note too the code below make deseapear certains 99.9 scrollbars but can hide too scrollbars in certains elements like blockquote, but not the resize anchor.
*/
/*OR YOU CAN USE MAIN SCRIPT INSTEAD VIDEOSONLY, BUT UNCOMMENT CODE BELOW TO FIX THE GREEN BUTTON NAMED CODE IN EVERY MAIN REPOSITORY PAGE*/
/*
*[class*=code] {
    overflow: revert !important;
    background: revert !important;
}
*/
/*SO UNCOMMENT WITH MAIN SCRIPT NOT VIDEOSONLY*/
}
